extends layout-main

block head
block body
    include ../login/profile.pug
    include ../login/change-password.pug
    #container
        #logo
            .logo-container
                img(src='/static/images/klee.svg').logo-style 
                .logo-name Klee
        #topbar
            a(href="{% url 'main' %}")#appname Home
            #pic-profile.button-pointer.topbar-content
                #pic-options-container
                    .username {{ user }}
                    a(onclick="loadEditForm('{% url 'edit-user' user.pk %}')").pic-options.pic-options-content Profile
                    a(onclick="loadChangePasswordForm('{% url 'change-password' user.pk %}')").pic-options.pic-options-content Change password
                    a(href='{% url "logout" %}').pic-options.pic-options-content Logout
        #sidebar
        #content
            #content-container
                block content