extends layout-main

block head
block body
    include ../login/profile.pug
    #container
        #logo
            .logo-container
                img(src='/static/images/klee.svg').logo-style 
                .logo-name Klee
        #topbar
            #appname Home
            #pic-profile.button-pointer
                #pic-options-container
                    .username {{ user }}
                    a(onclick="document.getElementById('id01').style.display='block'").pic-options.pic-options-content Profile
                    a(href='{% url "logout" %}').pic-options.pic-options-content Logout
        #sidebar
        #content
            block content