extends layout-main

block head
    meta(charset='utf-8')
block body
    #container
        #logo
            img(src='/static/images/klee.svg').logo-style
        #topbar
            #appname Home
            #pic-profile
        #sidebar
            .button-pointer.content-sidebar#button_one
                img(src='/static/images/klee.svg').button-icon
                .button-name button1
            .button-pointer.content-sidebar#button_two button2
            .button-pointer.content-sidebar#button_three button3
            .button-pointer.content-sidebar#button_four button4
        #content 
            span content

    h2 Klee
    if user.is_authenticated
        a(href='{% url "logout" %}') Logout
    else
        a(href='{% url "login" %}') Login