extends main/index

block head
    link(href='/static/css/klee-consumption-content.css', rel='stylesheet')
block content
    #content-container
        .content-style#content-manager-bar
            a(onclick="loadCategoryForm('{% url 'create-category' %}')").content-manager-item
                img(src="/static/images/plus.svg")