extends main/index
- load render_table from django_tables2
block head
    link(href='/static/css/klee-consumption-content.css', rel='stylesheet')
block content
    #content-container
        .content-style#content-manager-bar
            a(onclick="loadCategoryForm('{% url 'create-category' %}')").content-manager-item
                img(src="/static/images/plus.svg")
        .content-style#content-table
            - render_table table