form {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 35%;
    border: 1px solid black;
    padding: 10px;
}

form > label {
    text-align: left;
}

.scroll {
    overflow: scroll;
    height: 400px;
}

.btn-filter {
    width: 100%;
    background-color: #2f6374;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #2f6374;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    /* border: 1px solid black; */
    justify-self: center;
}

.btn-filter:hover {
    color: white;
    background: #234853;
    font-weight: bold;
}