* {
    font-family: 'Open Sans';
}

.button-pointer {
    cursor: pointer;
}

.button-icon {
    width: 25px;
    height: 25px;
}

#container{
    display: grid;
    grid-template-columns: 250px repeat(2, 1fr);
    grid-template-rows: 1fr 85vh;
    /* grid-gap: 10px; */
    grid-template-areas: 
    "logo topbar topbar"
    "sidebar content content";
}

#content {
    display: grid;
    grid-area: content;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);
}

#topbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: topbar;
    background-color: #424242;
    color: white;
    grid-template-areas: 
    "appname pic-profile";
    /* box-shadow: 1px 1px 1px 1px #000000; */
}

#appname {
    justify-self: left;
    grid-area: appname;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#pic-profile {
    justify-self: right;
    grid-area: pic-profile;
    margin: 10px;
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
}

#sidebar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 50px);
    grid-area: sidebar;
    background-color: black;
    grid-template-areas: 
    "button_one"
    "button_two"
    "button_three"
    "button_four";
    color: white;
    /* box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.8) */
}

.content-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 50ms;
}

.content-sidebar:hover {
    transition: 200ms;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.8)
}

.logo-style{
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    height: 50px;
}

#logo {
    display: grid;
    grid-area: logo;
    background: #424242;
    justify-content: center;
}

#button_one {
    grid-area: button_one;
}

#button_two {
    grid-area: button_two;
}

#button_three {
    grid-area: button_three;
}

#button_four {
    grid-area: button_four;
}