#modalChangePassword.modal
    form(action="{% url 'change-password' user.pk %}", method="POST").modal-content.animate
        span(onclick="document.getElementById('modalChangePassword').style.display = 'none'", title="Close").close &times;
        .imgcontainer
            img(src="/static/images/klee.svg", alt="Avatar").avatar
        .container
            #changePasswordContainer
        .container
            {% csrf_token %}
            button(type="submit").editbtn Change password
