extends layout-login

block head
block body
    .container
        //- img(src="/static/images/klee.svg")#logo
        form(action="{% url 'login' %}", method="POST")#form.form-container
            span.login-title Sign in to Klee 
            {% csrf_token %}
            {{ form }}
            input(type="submit", value="Sign in")#signin
        p#new.signup New to Klee? 
            a(href="new-account") Create an account
            |.
            br
            a(href="recover-password") Forgot password?

    .containertwo
        input(type="submit", value="About")#about