extends layout-newaccount

block head
block body
    form(action='{% url "new-account" %}', method='POST')
        {% csrf_token %}
        {{ form_new }}
        input(type='submit', value='Sign Up')