extends layout-newaccount

block head
block body
    .container
        form(action='{% url "new-account" %}', method='POST')#form.form-container
            span.login-title Create account
            {% csrf_token %}
            {{ form_new }}
            input(type='submit', value='Sign Up')
            a(href="#login") Already have an account?