#id01.modal
    form(action="{% url 'edit-user' user.pk %}", method="POST").modal-content.animate
        span(onclick="document.getElementById('id01').style.display = 'none'", title="Close").close &times;
        .imgcontainer
            img(src="/static/images/klee.svg", alt="Avatar").avatar
        .container
            #id02
            {% csrf_token %}
            button(type="submit").editbtn Edit
        div(style="background-color: white").container
            button(type="button" onclick="document.getElementById('id01').style.display = 'none'").cancelbtn Cancel
