#modalProfile.modal
    form(action="{% url 'edit-user' user.pk %}", method="POST").modal-content.animate
        span(onclick="document.getElementById('modalProfile').style.display = 'none'", title="Close").close &times;
        .imgcontainer
            img(src="/static/images/klee.svg", alt="Avatar").avatar
        .container
            #modalProfileContainer
        .container
            {% csrf_token %}
            button(type="submit").editbtn Edit
