extends layout-recoverpassword

block head
block body
    .container
        form(action="{% url 'recover-password' %}", method="POST")#form.form-container
            span.login-title Recover password 
            {% csrf_token %}
            {{ form }}
            input(type="submit", value="Recover")