#modalCreateConsumption.modal
    form(action="{% url 'create-consumption' %}", method="POST").modal-content.animate
        span(onclick="document.getElementById('modalCreateConsumption').style.display = 'none'", title="Close").close &times;
        .container
            .modalTitle
                | Create Consumption
        .container
            #createConsumptionContainer
        .container
            {% csrf_token %}
            button(type="submit").editbtn Create consumption
