#modalDetailConsumption.modal
    .modal-content.animate
        span(onclick="document.getElementById('modalDetailConsumption').style.display = 'none'", title="Close").close &times;
        .container
            .modalTitle
                | Detail Expense
        .container
            #detailConsumptionContainer
                table
                    tr
                        th
                            | Value
                        th
                            | Desc.
                        th
                            | Type
                        th
                            | Paid
                        th
                            | Cat.
                        th
                            | Date
                    tr
                        td(id="value_detail")
                        td(id="desc_detail")
                        td(id="type_detail")
                        td(id="paid_detail")
                        td(id="cat_detail")
                        td(id="date_detail")
                button(onclick="document.getElementById('modalTypeListConsumption').style.display = 'block';").btn Type List
                button(onclick="document.getElementById('modalCatListConsumption').style.display = 'block';").btn Category List
                button().btn Edit
                button().btn Delete
                        
                            
                            

