- load djmoney
#modalDetailConsumption.modal
        .container
            .modalTitle
                | Create Consumption
        //- .container
        //-     #createConsumptionContainer
        .container
            {% csrf_token %}
            {{ descricao }}
