- load djmoney
#modalEditConsumption.modal
    form(action="{% url 'expense-edit' 1 %}", method="POST").modal-content.animate
        span(onclick="document.getElementById('modalEditConsumption').style.display = 'none'", title="Close").close &times;
        .container
            .modalTitle
                | Edit Exchange
        .container
            #editConsumptionContainer
        .container
            {% csrf_token %}
            button(type="submit").editbtn Edit Exchange