#modalTypeListConsumption.modal
    .modal-content.animate
        span(onclick="document.getElementById('modalTypeListConsumption').style.display = 'none'", title="Close").close &times;
        .container
            .modalTitle
                | Type list
        .container
            #typeListConsumptionContainer
                div.lists
                    //- .list-header Type list
                    ul
                        li W - WEEKLY
                        li M - MONTHLY