doctype html
- load staticfiles
html
    head
        title=title
        link(rel='icon', href='/static/images/klee.svg')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300", rel="stylesheet")
        link(href='/static/css/main.css', rel='stylesheet')
        block head
    body
        block body