extends layout

block head-layout
    link(href='/static/css/main.css', rel='stylesheet')
    link(href='/static/css/modal.css', rel='stylesheet')
    link(href='/static/css/klee-main-content.css', rel='stylesheet')
    script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
    script(src='/static/javascripts/main-functions.js')
    script(src='/static/javascripts/ajax.js')
    block head

block body-layout
    block body