doctype html
- load staticfiles
html
    head
        title=title
        meta(charset="utf-8", name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="/static/images/klee.svg", rel="icon")
        link(href='/static/css/notify.css', rel='stylesheet')
        link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
        link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300", rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/static/javascripts/jquery-3.3.1.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src='/static/javascripts/notify.js')
        script
            | $( function() {
            |     $( "#id_date" ).datepicker();
            |     $( "#id_date_0" ).datepicker();
            |     $( "#id_date_1" ).datepicker();
            | });

        block head-layout
    body
        #notification-container
            if messages
                for message in messages
                    if message.tags
                        div(class="#{message.tags} notification-box position-box") 
                            .message #{message}
                            div(onclick="closeNotification()").closebtn &times;
                            .notification-progress-bar
        block body-layout