extends layout
block head-layout
    link(href='/static/css/main.css', rel='stylesheet')
    link(href='/static/css/profile.css', rel='stylesheet')
    script(src='/static/javascripts/main-functions.js')
    block head

block body-layout
    block body