doctype html
- load staticfiles
html
    head
        title=title
        link(href="/static/images/klee.svg", rel="icon")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300", rel="stylesheet")
        block head
    body
        block body