doctype html
- load staticfiles
html
    head
        title=title
        meta(charset='utf-8')
        link(rel='icon', href='/static/images/klee.svg')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300", rel="stylesheet")
        link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
        link(href='/static/css/main.css', rel='stylesheet')
        link(href='/static/css/notify.css', rel='stylesheet')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="/static/javascripts/jquery-3.3.1.min.js")
        script(src='/static/javascripts/notify.js')
        script(src='/static/javascripts/main-functions.js')
        block head
    body
        .notification-container
            if messages
                for message in messages
                    if message.tags
                        span(class="#{message.tags} notification-box position-box") #{message}
        block body