#modalCreateIncome.modal
    form(action="{% url 'create-income' user.pk %}", method="POST").modal-content.animate
        span(onclick="document.getElementById('modalCreateIncome').style.display = 'none'", title="Close").close &times;
        .container
            .modalTitle
                | Create Income
        .container
            #createIncomeContainer
        .container
            {% csrf_token %}
            button(type="submit").editbtn Create income
